/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
}

h1,
h2 {
  margin: 0;
}

h1 {
  color: #f8f9f9;
  font-size: 1.3em;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.7em 0;
}

h2 {
  color: #303c48;
  padding: 0 0 0.3em;
}

p {
  color: #c0c4c7;
  font-size: 0.9em;
  margin: 0;
}

header {
  background: #2d3945;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.info-tab {
  text-align: center;
  margin: 0 1em 2px;
  padding: 3em;
  border-bottom: 4px black solid;
}

/* Form styles */

fieldset {
  border-top: 2px black solid;
  border-bottom: none;
  border-left: none;
  border-right: none;
  position: relative;
  padding-top: 2.6em; /* Displace the absolutely positioned legend */
  margin: 3px 1em 0;
}

legend {
  color: #303c48;
  font-size: 1.2em;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px;
}

label {
  display: block;
  margin: 2em 0 1em;
  color: #55687a;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  width: 100%;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  background: #eff0f1;
  min-height: 50px;
  margin: 2px;
  color: #a8adb2;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus {
  border: 2px #46698b solid;
  outline: none;
  padding: 12px 18px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder {
  text-align: right;
  font-size: 0.7em;
}

/* Media Queries */

@media (min-width: 768px) {
  .container {
    width: 60%;
  }
  label {
    display: block;
  }
}
